body{
    margin: 0px;
}

.entete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.menu ul li{
    list-style: none;
    display: inline-block;
}



.logo img{
    width: 100px;
}