body{
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}

#marge
{
    margin-left: 105px;
    margin-right: 105px;
}

li{
    list-style: none;
}

.star_blue{
    color: #0065FC;
    margin: 0px;
    font-size: 12px;
}

.star_gray{
    color: gray;
    margin: 0px;
    font-size: 12px;
}

/* ENTETE */



#logo{
    display: flex;
    align-items: flex-start;
    margin: 0px;
}

#logo img{
    width:100px;
}

header{
    display: flex;
    flex-direction: row;
}

header div{
    padding: 10px;
    text-align: center;
    padding-top: 50px;
}

header div a{
    text-decoration: none;
    font-size: small;

}

#logo{
    width: 70%;
}

#hebergement{
    border-top: 3px #0065FC solid;
    width: 10%;
}

#hebergement a{
    color: #0065FC;
}

#act{
    border-top: 3px white solid;
    color: black;
    width: 10%;

}

#act a{
    color: black;
}

#sinscrire{
    border-top: 3px white solid;
    width: 10%;
}

#sinscrire a{
    color: #0065FC;
    font-weight: bold;
}


header ul  {
    display: flex;
    flex-direction: row;
    margin: 0px;
}

header ul li a {
    text-decoration: none;
}




/* TITRES  */

.banniere{
    margin-bottom: 20px;
}

.banniere p, h1{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    font-size: medium;
}

h1{
    font-size: 1.5em;
}

/* BARRE DE RECHERCHE */

.banniere_recherche{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: max-content;
    align-items: flex-start;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    border-radius: 20px 0px 0px 20px;    
    border-bottom: #f2f2f2 1px solid;
    border-top: 1px solid #f2f2f2;
}

#cadre_gps{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2(27, 65, 233);
    height: 50px;
    width: 57px;
    border-radius: 20px 0px 0px 20px;
}

#site_search{
    height: 50px;
    width: 203px;
    border: none;
    font-weight: bolder;
}

#button_recherche{
    height: 50px;
    width: 140px;
    border: none;
    background-color: #0065FC;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border-radius: 0px 20px 20px 0px;
    cursor: zoom-in;
}

/* BARRE DES FILTRES  */

.filtres{
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center; 
    font-weight: bold;
}

#titre_filtre{
    margin-right: 40px;
    font-weight: bolder;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titre_filtre p{
    font-size: 1em;
}

#liste_filtres{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
}

.bloc_filtre {
    display: flex;
    height: 45px;
    margin-right: 20px;
    padding: 0px;
    align-items: center;
    border: 2px solid rgba(95, 81, 81, 0.452);
    border-radius: 25px;
    margin-bottom: 15px;
    text-decoration: none;
}

#liste_filtres :hover{
    background-color: #f2f2f2;
}

#liste_filtres a i {
    display: flex;
    background-color: #DEEBFF;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #0065FC;
    margin-right: 5px;
    margin-left: 0px;
    text-decoration: none;

}

#liste_filtres a span{
    display: flex;
    height: 25px;
    align-items: center;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 10px;
    width: max-content;
    color: black;
}


/* barre du commentaire */

.nb_logement div i {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    height: 1px;
    width: 1px;
    border: 2px solid rgba(95, 81, 81, 0.452);
    border-radius: 1000%;
    color: #0065FC;
}

.nb_logement  {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
}

.nb_logement div p{
    font-size: 0.9em;
}


/* -------------------------------------------------- */

/* les blocs hotels (Marseille et Populaire)  */

#hebergements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    margin-bottom: 100px;
}

#heb_marseille h1{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    width: 100%;
}



#heb_marseille{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    width: 62%;
    background-color: #f2f2f2;
    border-radius: 20px 20px 20px 20px;
}

#heb_populaire{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    min-height: 650px;
    width: 30%;
    background-color: #f2f2f2;
    border-radius: 20px 20px 20px 20px;
}

#title_popular{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 0px;
}

#icone_trend {
    padding-top: 20px;
}



/* LE AFFICHER PLUS du BAS  */

#afficher_plus{
    width: 100%;
    padding-left: 35px;
    margin:25px;
}

#afficher_plus a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/* Les hotels à Marseille */

figure a{
    text-decoration: none;
}

figcaption h4, p, i{
    margin: 1px;
    text-decoration: none;
    color: black;
}

.hotel{
    background-color: white;
    height: 200px;
    width: 250px;
    border-radius: 20px 20px 20px 20px;
    padding: 3px;
}

.txt_marseille{
    padding-top: px;
    padding-left: 10px;
}

.pix_marseille{
    background-color: white;
    background-position: center;
    height: 130px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    padding: 3px;
    object-fit: cover;
}


/* Les hotels populaires */

.pix_hebergement{
    background-position: center;
    margin-right: 30px;
    border-radius: 20px 0px 0px 20px;
    border: 5px white solid ;    
    height: 138px;
    width: 130px;
    object-fit: cover;
}

.cadres_pop a{
    display: flex;
    flex-direction: row;
    height: 150px;
    max-width: 85%;
    min-width: 350px;
    justify-content: flex-start;
    background-color: white;
    border-radius: 20px;
}

.cadres_pop h4{
    padding-top: 10px;
    padding-bottom: 30px;
    padding-right: 10px;
}

.cadres_pop p{
    padding-bottom: 20px;
}


/* -------------------------------------------------- */


/* BANNIERE ACTIVITES A MARSEILLE */

/* paramètres des photos et des cadres */

.grande_photos{
    background-position: center;
    height: 400px;
    width: 350px;
    border-radius: 20px;
    object-fit: cover;
}
.moyenne_photos{
    background-position: center;
    height: 200px;
    width: 350px;
    border-radius: 20px;
    object-fit: cover;
}

.petite_photos{
    background-position-x: center;
    height: 100px;
    width: 350px;
    border-radius: 20px;
    object-fit: cover;

}

.grand_cadre{
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 350px;
    border-radius: 20px ;
    border: white 3px solid;
    box-shadow: 0px 6px 6px gray;
    margin: 0px;
}

.moyen_cadre{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0px 6px 6px gray;
    margin: 0px;
}

.petit_cadre{
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 350px;
    border-radius: 20px ;
    box-shadow: 0px 6px 6px gray;
    margin: 0px;
}

/* positionnement des éléments */

.act_banniere{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 330px;
}


#act_marseille{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.act_banniere h4{
    padding-top: 10px;
    padding-left: 10px;
    text-decoration: none;
}

.act_banniere a{
    text-decoration: none;
}

/* ------------------------------------------------------- */

/* Pied de Page  */

#pied_de_page{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: #f2f2f2;
    margin: 0px;
}

.bloc_footer{
    display: flex;
    flex-direction: column;
    width: 33%;
}

.bloc_footer ul{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bloc_footer ul li{
    margin-top: 10px;
    width: 100%;
}

/* ------------------------ */
@media all and (max-width: 1300px)
{
    #hebergements{
        flex-direction: column;
        justify-content: center;
    }

    #heb_marseille{
        width: 100%;
    }

    #heb_populaire{
        width: 100%;
    }
}

@media all and (max-width:1000px){

#hebergements{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-content: center;
    align-items: center;
    width: 100%;
}

    #heb_marseille{
        width: 100%;
    }

    #heb_populaire{
        width: 100%;
        height: auto;
        margin: 0px;
    }

     h1{
        text-align: center;
        padding-bottom: 20px;
    }
}

@media all and (max-width:900px){

    p{
        font-size:larger;
    }

    #marge{
        margin: 10px
    }
    
    body{
        font-size: 1em;
    }

    h1{
        font-size: 29px;
        text-align: left;
        height: max-content;
    }


    .act_banniere{
        width: 100%;
    }
}

/* redimensionner les photos "activités à marseille", 
replacer les 3 ancres en version mobiles */

    @media all and (max-width:600px){

    .grande_photos, .moyenne_photos, .petite_photos{
        width: 100%;
        height: 250px;
    }

    .grand_cadre, .moyen_cadre, .petit_cadre{
        width: 100%;
        height: 300px;
    }


    .act_banniere{
        width: 100%;
        flex-direction: column;
    }

/* Menu Principal supérieur  */

    header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    
    #logo{
        width: 50%;
        order: -1;
    }
    
    #hebergement{
        border-top: 1px white solid;
        border-bottom: 3px #0065FC solid;
        width: 50%;
        padding-top: 50px;
        padding-bottom: 20px;
        text-align: center;
        padding-right: 0;
        padding-left: 0;
    }

    #hebergement a{
        color: #0065FC;
    }
    
    #act{
        width: 50%;
        padding-top: 50px;
        text-align: center;
        order: 3;
        border-bottom: 3px #f2f2f2 solid;
        padding-right: 0;
        padding-left: 0;
    }
    
    #sinscrire{
        width: 15%;
        padding-top: 50px;
        text-align: center;
        order: -1;
    }

    #sinscrire{
        font-weight: bolder;
    }


/* PIED DE PAGE */
    #pied_de_page{
        flex-direction: column;
        width: 100%;
    }

    .bloc_footer ul h3,li{
        text-align: left;
        width: 100%;
    }

    .bloc_footer {
        text-align: left;
        width: 100%;
    }


}
